.c-quick-demo__collectorium {
  max-width: 32em;
  text-align: left;
}

.c-quick-demo__tab-link {
  color: map-get($cs-contrast, a);
  &:active,
  &:focus,
  &.is-active {
    background: map-get($cs-contrast, a);
    color: map-get($cs, a);
  }
}

.c-quick-demo__contents {
  background: map-get($cs-contrast, a);
  color: $font-base-color;
}
