$colors: (
  a: #2893ba,
  b: #2893ba,
  c: #2893ba,
  d: #2893ba,
  e: #2893ba,
);

$colors-contrast: (
  a: #fff,
  b: #fff,
  c: #fff,
  d: #fff,
  e: #fff,
);

$o-container-max-widths: (
  s: 42rem,
  m: 64rem,
  l: 96rem
);
