/*------------------------------------*\
  COLLECTORIUM
\*------------------------------------*/
/**
 * CONTENTS
 * VARIABLES...........
 * FUNCTION............
 * THEME...............
 */



/*------------------------------------*\
  $VARIABLES
\*------------------------------------*/

$collectorium-namespace: 'o-collectorium' !default;



/*------------------------------------*\
  $FUNCTION
\*------------------------------------*/

.#{$collectorium-namespace}__anchor {
  position: fixed;
  top: 0;
}

.#{$collectorium-namespace}__anchor:target ~ :last-child,
.#{$collectorium-namespace}__content.is-active ~ :last-child,
.#{$collectorium-namespace}__content {
  display: none;
}

.#{$collectorium-namespace}__content:last-child,
.#{$collectorium-namespace}__anchor:target + .#{$collectorium-namespace}__content,
.#{$collectorium-namespace}__content.is-active {
  display: block;
}



/*------------------------------------*\
  $THEME
\*------------------------------------*/

.#{$collectorium-namespace}__tabs {
  padding-left: 0;
  list-style-type: none;
}

.#{$collectorium-namespace}__tab-title {
  display: inline-block;
}

.#{$collectorium-namespace}__tab-link {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  &:active,
  &:focus,
  &.is-active {
    outline: none;
    background: #efefef;
  }
}

.#{$collectorium-namespace}__contents {
  padding: 1em;
  background: #efefef;
}